[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=MarkSecretFolder;

[Desktop Action MarkSecretFolder]
Name=Mark as Secret Folder
Icon=folder-lock
Exec=/usr/bin/python3 /usr/local/lighthouse/secret-folders/secret_folder_cli.py add %f
